*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

#grid {
    height: 800px;
    width: 800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px;
    margin: auto;
}

button {
    display: block;
    margin: 20px auto;
}

.row {
    flex: auto;
    display: flex;
    background-color: black;
    gap: 1px;
}

.col {
    flex: auto;
    background-color: white;
}

.hover {
    background-color: black;
}